.subtitulo7{
    border-bottom: 1px solid #EDEDED;
    
    margin: 100px auto 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.footer {
    width: 1440px;
    height: 592px;
    background-color: #008ECC;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    position: relative;
    margin: 1 auto;
    padding-top: 90px;
    box-sizing: border-box;

    
  }
  
  .footer-circulo {
    position: absolute;
    width: 430px;
    margin-bottom: 1000px;
    margin-left: 1000px;
    margin-top: -9rem;  

  }
  
  .footer-caja {
    display: flex;
    gap: 120px;
    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;
  }
  
  .footer-columna1 {
    width: 300px;
  }
  
  .footer-columna2 {
    width: 300px;
  }
  
  .footer-columna3 {
    width: 300px;
    margin-left: -138px;
  }
  
  .footer-logo {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .footer-subtitulo {
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  
  .footer-contacto {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .footer-icono {
    width: 21px;
    height: 21px;
    margin-right: 10px;
  }
  
  .footer-texto {
    font-size: 14px;
  }
  
  .footer-apps {
    display: flex;
    gap: 12px;
    margin-top: 10px;
  }
  
  .footer-boton {
    width: 135px;
    height: auto;
  }
  
  .footer-titulo {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
    padding-bottom: 3px;
    border-bottom: 2px solid #FFFFFF;
    display: inline-block;
  }

  .footer-lista {
    list-style: disc;
    padding-left: 18px;
    margin: 0;
  }
  
  .footer-item {
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .footer-linea {
    width: 1240px;
    height: 1px;
    background-color: #FFFFFF;
    opacity: 0.25;
    margin: 80px auto 25px auto;
  }
  
  .footer-copy {
    text-align: center;
    font-size: 14px;
    
  }