.seccion2 {

    width: 1250px;
    margin-left: 30px;
    margin-top: 50px;
    padding-top: 40px;

}

.tz2{

        display: flex;
        align-items: center;
        gap: 10px;

}

.sf {

    font-size: 24px;
    color: rgba(102, 102, 102, 1);
    margin-right: 3px;

}

.tc {
   
    font-size: 24px;
    color: rgba(0, 142, 204, 1);
   
}

.view2 {

    display: flex;
    align-items: center;
    width: 115px;
    height: 27px;
    margin-left: 768px;

}

.linea2 {

    width: 1228px;
    margin-top: 32px;
    margin-left: 5px;
    border-bottom: 1px solid #EDEDED;

}

.m {

    width: 162px;
    height: 192px;
    margin-top: 43px;
    margin-left: 20px;
    
}

.c {

    width: 132px;
    height: 172px;
    display: flex;

    margin-top: -193px;
    margin-left: 199px;

}

.e {

    width: 132px;
    height: 172px;
    display: flex;

    margin-top: -173px;
    margin-left: 376px;

}

.f {

    width: 132px;
    height: 172px;
    display: flex;

    margin-top: -173px;
    margin-left: 554px;

}

.f1 {

    width: 124px;
    height: 124px;
    display: flex;

    margin-top: -173px;
    margin-left: 558px;
    border-radius: 62px;

}

.w {

    width: 132px;
    height: 172px;
    display: flex;

    margin-top: -123px;
    margin-left: 733px;

}

.w1 {

    width: 92px;
    height: 92px;
    display: flex;

    margin-top: -151px;
    margin-left: 750px;
    border-radius: 62px;

}

.d {

    width: 132px;
    height: 172px;
    display: flex;

    margin-top: -113px;
    margin-left: 905px;

}

.d1 {

    width: 92px;
    height: 92px;
    display: flex;

    margin-top: -155px;
    margin-left: 925px;
    border-radius: 62px;

}

.a {

    width: 132px;
    height: 172px;
    display: flex;

    margin-top: -110px;
    margin-left: 1083px;

}

.a1 {

    width: 92px;
    height: 92px;
    display: flex;

    margin-top: -155px;
    margin-left: 1105px;
    border-radius: 62px;

}