.seccion4 {

    width: 1250px;
    margin-left: 30px;
    margin-top: 110px;
    padding-top: 40px;

}

.tz4 {

        display: flex;
        align-items: center;
        gap: 10px;

}

.da {

    font-size: 24px;
    color: rgba(102, 102, 102, 1);
    margin-right: 3px;

}

.ess {
   
    font-size: 24px;
    color: rgba(0, 142, 204, 1);
   
}

.view4 {

    display: flex;
    align-items: center;
    width: 115px;
    height: 27px;
    margin-left: 888px;

}

.linea4 {

    width: 1228px;
    margin-top: 32px;
    margin-left: 5px;
    border-bottom: 1px solid #EDEDED;

}

.de {

    width: 187px;
    height: 187px;
    border-radius: 16px;
    display: flex;

    margin-top: 41px;
    margin-left: -8px;
    border-width: 1px;

    border: 1px solid #008ECC;
    background-color: #F5F5F5;
}

.de1 {

    width: 193px;
    height: 132px;
    display: flex;

    margin-top: -160px;
    margin-left: -5px;
    
}

.de11 {

    display: flex;

    font-size: 16px;
    color: #666666;
    margin-top: 45px;
    margin-left: 10px;

}

.de111 {

    display: flex;

    font-size: 20px;
    color: #222222;
    margin-top: 9px;
    margin-left: 8px;

}

.v1 {

    width: 187px;
    height: 187px;
    border-radius: 16px;
    display: flex;

    margin-top: -276px;
    margin-left: 245px;

    background-color: #F5F5F5;

}

.v2 {

    display: flex;

    margin-left: 290px;

    font-size: 16px;
    color: #666666;
    margin-top: 40px;

}

.v3 {

    display: flex;

    margin-top: 35px;
    margin-left: 255px;

    font-size: 20px;
    color: #222222;
    margin-top: 9px;

}

.ff {

    width: 187px;
    height: 187px;
    border-radius: 16px;
    display: flex;

    margin-top: -277px;
    margin-left: 445px;

    background-color: #F5F5F5;
}

.ff1 {

    width: 193px;
    height: 132px;
    display: flex;

    margin-top: -20px;
    margin-left: 498px;
    font-size: 16px;
    color: #666666;

}

.ff2 {

    display: flex;

    margin-top: -48px;
    margin-left: 450px;
    font-size: 20px;
    color: #222222;

}

.straw1 {

    width: 187px;
    height: 187px;
    border-radius: 16px;
    display: flex;

    margin-top: -277px;
    margin-left: 645px;

    background-color: #F5F5F5;

}

.straw2 {

    width: 193px;
    height: 132px;
    display: flex;

    margin-top: -20px;
    margin-left: 708px;
    font-size: 16px;
    color: #666666;

}

.straw3 {

    display: flex;

    margin-top: -45px;
    margin-left: 660px;
    font-size: 20px;
    color: #222222;

}

.man1 {

    width: 187px;
    height: 187px;
    border-radius: 16px;
    display: flex;

    margin-top: -277px;
    margin-left: 845px;

    background-color: #F5F5F5;

}

.man2 {

    width: 193px;
    height: 132px;
    display: flex;

    margin-top: -20px;
    margin-left: 908px;
    font-size: 16px;
    color: #666666;

}

.man3 {

    display: flex;

    margin-top: -45px;
    margin-left: 860px;
    font-size: 20px;
    color: #222222;

}

.che1 {

    width: 187px;
    height: 187px;
    border-radius: 16px;
    display: flex;

    margin-top: -277px;
    margin-left: 1045px;

    background-color: #F5F5F5;

}

.che2 {

    width: 193px;
    height: 132px;
    display: flex;

    margin-top: -20px;
    margin-left: 1108px;
    font-size: 16px;
    color: #666666;

}

.che3 {

    display: flex;

    margin-top: -45px;
    margin-left: 1060px;
    font-size: 20px;
    color: #222222;

}