.seccion2 {

    width: 1250px;
    margin-left: 30px;
    margin-top: 50px;
    padding-top: 40px;

}

.tz2{

        display: flex;
        align-items: center;
        gap: 10px;

}

.sf {

    font-size: 24px;
    color: rgba(102, 102, 102, 1);
    margin-right: 3px;

}

.tc {
   
    font-size: 24px;
    color: rgba(0, 142, 204, 1);
   
}

.view2 {

    display: flex;
    align-items: center;
    width: 115px;
    height: 27px;
    margin-left: 768px;

}

.linea2 {

    width: 1228px;
    margin-top: 32px;
    margin-left: 5px;
    border-bottom: 1px solid #EDEDED;

}

.m {

    width: 132px;
    height: 132px;
    border-radius: 100%;

    margin-top: 35px;
    margin-left: 20px;

    background-color: #F5F5F5;
    border: 1px solid #008ECC;
    
}

.m img {

    width: 52px;
    height: 98px;

    margin-left: 40px;
    margin-top: 16px;
}

.m2 {

    width: 49px;
    height: 20px;

    font-size: 16px;
    margin-top: 20px;
    margin-left: 60px;

}

.c {

    width: 132px;
    height: 132px;
    border-radius: 100%;
    display: flex;

    margin-top: -155px;
    margin-left: 199px;

    background-color: #F5F5F5;


}

.c img {

    width: 52px;
    height: 98px;

    margin-left: 40px;
    margin-top: 16px;
}

.c22 {

    width: 49px;
    height: 20px;

    font-size: 16px;
    margin-top: 0.5px;
    margin-left: 220px;

}

.e {

    width: 132px;
    height: 132px;
    border-radius: 100%;
    display: flex;

    margin-top: -153px;
    margin-left: 376px;

    background-color: #F5F5F5;

}

.e2 {

    width: 49px;
    height: 20px;

    font-size: 16px;
    margin-top: 40px;
    margin-left: 390px;

}

.f {

    width: 132px;
    height: 132px;
    border-radius: 100%;
    display: flex;

    margin-top: -153px;
    margin-left: 554px;

    background-color: #F5F5F5;

}

.f2 {

    width: 49px;
    height: 20px;

    font-size: 16px;
    margin-top: 40px;
    margin-left: 580px;

}

.w {

    width: 132px;
    height: 132px;
    border-radius: 100%;
    display: flex;

    margin-top: -153px;
    margin-left: 733px;

    background-color: #F5F5F5;

}

.w img {

    margin-left: 20px;
}

.w2 {

    width: 49px;
    height: 20px;

    font-size: 16px;
    margin-top: 40px;
    margin-left: 770px;

}

.d {

    width: 132px;
    height: 132px;
    border-radius: 100%;
    display: flex;

    margin-top: -153px;
    margin-left: 905px;

    background-color: #F5F5F5;

}

.d img {

    margin-left: 10px;
}

.d2 {

    width: 49px;
    height: 20px;

    font-size: 16px;
    margin-top: 40px;
    margin-left: 950px;

}

.a {

    width: 132px;
    height: 132px;
    border-radius: 100%;
    display: flex;

    margin-top: -153px;
    margin-left: 1083px;

    background-color: #F5F5F5;
}

.a2 {

    width: 49px;
    height: 20px;

    font-size: 16px;
    margin-top: 40px;
    margin-left: 1100px;

}
