.cuadro3 {

    width: 1431px;
    height: 90px;
 
    border: 1px solid rgba(237, 237, 237, 1);
    background-color: rgba(255, 255, 255, 1);

}

.pt3 {

    padding: 4rem;
    width: 1440px;
    height: 69px;
    top: 131px;
    margin-right: 45px;

}

.botones {

    border-radius: 8px;
    border-radius: 3px;
    margin-left: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
   
}

.botones button {

    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #F3F9FB;
    border: none;

    border-radius: 20px;
    font-size: 14px;
    color: #222222;

}

.cuadro3 nav button {

    margin-right: 10px;
    background-color: #F3F9FB;
    border: none;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;

  }

.btn img {

    width: 12px;
    height: 12px;

}


